/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/* Para pantallas de 1024 x 768 */
body {
  height: 768px;
  color: #000;
}

/* Navbar
-------------------------------------------------- */
.navbar {
  margin-bottom: 0px;
}

/* Botones
-------------------------------------------------- */
.btn-amarillo {
  color: #000;
  background-color: rgb(255,191,0);
  border-color: rgb(215,215,215);
  padding: 4px 7px;
  border-radius: 20px;
  margin-left: 10px;
}
.btn-guardar:hover {
  background-color: rgb(79,140,13) !important;
}
.btn-amarillo:hover {
  color: #FFF;
  background-color: rgb(237,46,56);
}

.btn-verde {
  color: #FFF;
  background-color: rgb(79,140,13);
  border-color: rgb(215,215,215);
  padding: 4px 7px;
  border-radius: 20px;
  margin-left: 10px;
}

.btn-verde:hover {
 background-color: rgb(237,46,56);
}

.btn-dropdown:hover{
 background-color: rgb(237,46,56);
}

/* Progress  bar
-------------------------------------------------- */

.progress {
 margin-top: 15px;
 margin-bottom: 15px;
 width: 50px;
 margin-left: 10px;
}

.progress-grande {
 width: 150px;
}

#generalProgress {
 width: 100px;
}
#generalProgress .progress-bar {
 background-color: rgb(178,214,3);
}

#azulProgress .progress-bar {
 background-color:rgb(79,120,214);
}

#rojoProgress .progress-bar {
 background-color:rgb(237,46,56);
}

#amarilloProgress .progress-bar {
 background-color:rgb(248,201,9);
}

.brillo-progreso{
	margin-left: 1px;
    vertical-align: sub;
    opacity: 0.7;
}

.line-progress{
 height: 25px;
 border-style: solid;
 border-width: 1px;
 margin: 0px;
 padding: 0px;
 float: left;
}

.vertical{
	webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
/* dropdown
-------------------------------------------------- */

.text-vertical {
	transform: rotate(-90deg);
	transform-origin: left top 0;
  float: left;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
  width: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 768px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 768px;
}

.flecha-izquierda{
  position: absolute;
  top: 50%;
  left:0;
  z-index: 5;
  display: inline-block;
  background-image: url("assets/img/izquierda.png");
  background-repeat: no-repeat;
  width:53px;
  height:53px;
}
.flecha-izquierda:hover{
  background-image: url("assets/img/izquierda-hover.png");
}
.flecha-derecha{
  position: absolute;
  top: 50%;
  right:0;
  z-index: 5;
  display: inline-block;
  background-image: url("assets/img/derecha.png");
  background-repeat: no-repeat;
  width:53px;
  height:53px;
}
.flecha-derecha:hover{
  background-image: url("assets/img/derecha-hover.png");
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Pinchos
-------------------------------------------------- */
.pincho {
	position: absolute;	
	z-index: 5;
	display: inline-block;
	cursor:pointer;
}

.ubic1 {
	top: 15%;
	left:13%;
}
.ubic2 {
	top: 15%;
	left:25%;
}
.ubic3 {
	top: 15%;
	left:37%;
}
.ubic4 {
	top: 15%;
	left:49%;
}
.ubic5 {
	top: 15%;
	left:61%;
}
.ubic6 {
	top: 15%;
	left:73%;
}
.ubic7 {
	top: 15%;
	left:84%;
}
.ubic8 {
	top: 32%;
	left:18%;
}
.ubic9 {
	top: 32%;
	left:27%;
}
.ubic10 {
	top: 32%;
	left:39%;
}
.ubic11 {
	top: 32%;
	left:47%;
}
.ubic12 {
	top: 32%;
	left:63%;
}
.ubic13 {
	top: 32%;
	left:80%;
}
.ubic14 {
	top: 32%;
	left:90%;
}
.ubic15 {
	top: 46%;
	left:10%;
}
.ubic16 {
	top: 49%;
	left:22%;
}
.ubic17 {
	top: 49%;
	left:30%;
}
.ubic18 {
	top: 49%;
	left:42%;
}
.ubic19 {
	top: 49%;
	left:56%;
}
.ubic20 {
	top: 49%;
	left:70%;
}
.ubic21 {
	top: 49%;
	left:84%;
}
.ubic22 {
	top: 70%;
	left:49%;
}
.ubic23 {
	top: 70%;
	left:61%;
}
.ubic24 {
	top: 70%;
	left:73%;
}
.ubic25 {
	top: 70%;
	left:84%;
}
.ubic26 {
	top: 80%;
	left:78%;
}
.ubic27 {
	top: 25%;
	left:12%;
}
.ubic28 {
	top: 70%;
	left:31%;
}
.ubic29 {
	top: 65%;
	left:20%;
}
.ubic30 {
	top: 38%;
	left:70%;
}

.ubic31 {
	top: 38%;
	left:55%;
}
.ubic32 {
	top: 64%;
	left:45%;
}
.ubic33 {
	top: 34%;
	left:8%;
}
.ubic34 {
	top: 77%;
	left:37%;
}
.ubic35 {
	top: 59%;
	left:63%;
}
.ubic36 {
	top: 44%;
	left:48%;
}
.ubic37 {
	top: 59%;
	left:78%;
}
.ubic38 {
	top: 61%;
	left:14%;
}
.ubic39 {
	top: 72%;
	left:7%;
}

/** caja de bonos y demas..
**/
#tarjeta {
	width:450px;
	right: 8%;
	position: absolute;
    top: 8%;
	height: 420px;
    z-index: 1000;
    float: right;
    min-width: 160px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: rgb(156,154,154);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.sideways>li>a
{
	color: #FFF;
}
.sideways>li{
	background-color: rgb(61,57,56);
}

.sideways>li>a{
	background-color: rgb(61,57,56);
}

.sideways>li>a:hover,
.sideways>li>a:focus
{
	background-color: rgb(61,57,56);
}
.sideways>li.active>a,
.sideways>li.active>a:focus,
.sideways>li.active>a:hover{
	color: #FFF;
    cursor: default;
    background-color: rgb(156,154,154);
    border: 1px solid #ddd;
}
.caja-bonos-kimgen {
	border-width: 1px;
    border-color: RGB(166,166,166);
    border-style: solid;
    border-radius: 4px;
    padding: 4px;
    background-color: RGB(166,166,166);
    color: #FFF;
	margin-top:8px;
	margin-right: 5px;
}
.cajas-tarjetas{
	min-width: 60px;
    min-height: 60px;
}
.cajas-tarjetas-grande{
	min-width: 80px;
    min-height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}
.carousel-control {
width: 5% !important;
}

.popup-kimgen{
	position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
	opacity: .9;
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
}
#imagen1{
	margin-top:100px;
	    margin-left:70px;
	
}
#cerrar-popup-kimgen{
	position: absolute;
	top: 15px;
	right:0;
	z-index: 10;
	display: inline-block;
	cursor:pointer;
}
.boton-respuesta1{
	position: absolute;
	top: 50%;
	right:620px;
	z-index: 10;
	display: inline-block;
	cursor:pointer;
}
.boton-respuesta2{
	position: absolute;
	top: 50%;
	right:200px;
	z-index: 10;
	display: inline-block;
	cursor:pointer;
}
.boton-respuesta3{
	position: absolute;
	top: 80%;
	right:620px;
	z-index: 10;
	display: inline-block;
	cursor:pointer;
}

#bien{
	position: absolute;
	top: 40%;
	left:0;
	z-index: 10;
	display: inline-block;
	cursor:pointer;
}