/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/* Para pantallas de 1024 x 768 */
body {
  height: 768px;
  color: #000;
}

/* Navbar
-------------------------------------------------- */
.navbar {
  margin-bottom: 0px;
}

/* Botones
-------------------------------------------------- */
.btn-amarillo {
  color: #000;
  background-color: rgb(255,191,0);
  border-color: rgb(215,215,215);
  padding: 4px 7px;
  border-radius: 20px;
  margin-left: 10px;
}
.btn-guardar:hover {
  background-color: rgb(79,140,13);
}
.btn-amarillo:hover {
  color: #FFF;
  background-color: rgb(237,46,56);
}

.btn-verde {
  color: #FFF;
  background-color: rgb(79,140,13);
  border-color: rgb(215,215,215);
  padding: 4px 7px;
  border-radius: 20px;
  margin-left: 10px;
}

.btn-verde:hover {
 background-color: rgb(237,46,56);
}

.btn-dropdown:hover{
 background-color: rgb(237,46,56);
}

/* Progress  bar
-------------------------------------------------- */

.progress {
 margin-top: 15px;
 margin-bottom: 15px;
 width: 50px;
 margin-left: 10px;
}

#generalProgress {
 width: 100px;
}
#generalProgress .progress-bar {
 background-color: rgb(178,214,3);
}

#azulProgress .progress-bar {
 background-color:rgb(79,120,214);
}

#rojoProgress .progress-bar {
 background-color:rgb(237,46,56);
}

#amarilloProgress .progress-bar {
 background-color:rgb(248,201,9);
}

.line-progress{
 height: 25px;
 border-style: solid;
 border-width: 1px;
 margin: 0px;
 padding: 0px;
 float: left;
}

/* dropdown
-------------------------------------------------- */

.text-vertical {
	transform: rotate(-90deg);
	transform-origin: left top 0;
  float: left;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
  width: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 768px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 768px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


#premio1{
	position: absolute;
	top: 25%;
	left:12%;
	z-index: 5;
	display: inline-block;
	cursor:pointer;
}
#premio2{
	position: absolute;
	top: 40%;
	left:12%;
	z-index: 5;
	display: inline-block;
	cursor:pointer;
}
#premio3{
			position: absolute;
	top: 80%;
	left:24%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#misterio1{
	position: absolute;
	top: 25%;
	left:24%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#misterio2{
	position: absolute;
	top: 40%;
	left:24%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#misterio3{
		position: absolute;
	top: 60%;
	left:12%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#conocimiento1{
	position: absolute;
	top: 25%;
	left:36%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#conocimiento2{
		position: absolute;
	top: 40%;
	left:36%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#conocimiento3{
		position: absolute;
	top: 40%;
	left:84%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#conocimiento4{
			position: absolute;
	top: 60%;
	left:36%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#conocimiento5{
			position: absolute;
	top: 60%;
	left:84%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#fantasma1{
	position: absolute;
	top: 25%;
	left:48%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#fantasma2{
		position: absolute;
	top: 40%;
	left:48%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#fantasma3{
			position: absolute;
	top: 60%;
	left:48%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#fantasma4{
			position: absolute;
	top: 60%;
	left:96%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#fantasma5{
			position: absolute;
	top: 80%;
	left:12%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#desafio1{
	position: absolute;
	top: 25%;
	left:60%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#desafio2{
	position: absolute;
	top: 25%;
	left:84%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#desafio3{
		position: absolute;
	top: 40%;
	left:60%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
	
}
#desafio4{
		position: absolute;
	top: 40%;
	left:96%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#desafio5{
			position: absolute;
	top: 60%;
	left:60%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#desafio6{
			position: absolute;
	top: 60%;
	left:24%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#desafio7{
		position: absolute;
	top: 60%;
	left:48%;
	z-index: 5;
	display: inline-block;	
		cursor:pointer;
}
#desafio8{
			position: absolute;
	top: 60%;
	left:60%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#desafio9{
			position: absolute;
	top: 60%;
	left:72%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#desafio10{
			position: absolute;
	top: 60%;
	left:84%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#desafioEsp1{
	position: absolute;
	top: 25%;
	left:72%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#desafioEsp2{
		position: absolute;
	top: 40%;
	left:72%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#desafioEsp3{
			position: absolute;
	top: 60%;
	left:72%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
#desafioEsp4{
			position: absolute;
	top: 60%;
	left:36%;
	z-index: 5;
	display: inline-block;
		cursor:pointer;
}
.carousel-control {
width: 5% !important;
}

.popup-kimgen{
	position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
	opacity: .9;
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
}
#imagen1{
	margin-top:60px;
	
}