/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/* Para pantallas de 1024 x 768 */
body {
  height: 768px;
  color: #000;
}

/* Navbar
-------------------------------------------------- */
.navbar {
  margin-bottom: 0px;
}

/* Botones
-------------------------------------------------- */
.btn-amarillo {
  color: #000;
  background-color: rgb(255,191,0);
  border-color: rgb(215,215,215);
  padding: 4px 7px;
  border-radius: 20px;
  margin-left: 10px;
}
.btn-guardar:hover {
  background-color: rgb(79,140,13);
}
.btn-amarillo:hover {
  color: #FFF;
  background-color: rgb(237,46,56);
}

.btn-verde {
  color: #FFF;
  background-color: rgb(79,140,13);
  border-color: rgb(215,215,215);
  padding: 4px 7px;
  border-radius: 20px;
  margin-left: 10px;
}

.btn-verde:hover {
 background-color: rgb(237,46,56);
}

.btn-dropdown:hover{
 background-color: rgb(237,46,56);
}

/* Progress  bar
-------------------------------------------------- */

.progress {
 margin-top: 15px;
 margin-bottom: 15px;
 width: 50px;
 margin-left: 10px;
}

#generalProgress {
 width: 100px;
}
#generalProgress .progress-bar {
 background-color: rgb(178,214,3);
}

#azulProgress .progress-bar {
 background-color:rgb(79,120,214);
}

#rojoProgress .progress-bar {
 background-color:rgb(237,46,56);
}

#amarilloProgress .progress-bar {
 background-color:rgb(248,201,9);
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
  width: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 768px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 768px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
